/* -

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/Images/Background\ 1.jpg);
}



.logo img{
    width: 45px;
}

.navbar a {
    display: flex;
    padding-left: 15px;
}

.navbar {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px ;
    position: relative;
    gap: 15px;

}

.links li{
    display: flex;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    padding-left: 25px;
}
a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
a:hover {
    background-color: #45a049;
}
.news-feed {
    list-style-type: none;
    padding: 0;
}
.news-feed li {
    margin-bottom: 10px;
}


/* Home Page */
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url("Images/Background\ 1.jpg") center / cover no-repeat;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;  
}

.navbar .logo h1 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .links a:hover {
    color:darkgreen;
}

.navbar .login-btn {
    border: none;
    outline: none;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.form-popup .form-box {
    display: flex;

}

.form-box .form-details {
    max-width: 330px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
}